* {
  margin: 0;
  border: 0;
  padding: 0;
}

.landscape-overlay {
  position: absolute;
  background-color: darkgrey;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  overflow: hidden;
}

/* //countdown// */

.timeContainer {
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeContainer .wrapper {
  width: 800px;
  padding: 20px;
  max-height: 400px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.timeContainer .wrapper div {
  color: #ccc;
  text-align: center;
  width: 24%;
  height: 130px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.timeContainer .wrapper div:first-child {
  background: #00274c;
  color: white;
}

.timeContainer .wrapper div:nth-child(2) {
  background: #00274c;
  color: white;
}

.timeContainer .wrapper div:nth-child(3) {
  background: #ffcb05;
  color: #fff;
}

.timeContainer .wrapper div:last-child {
  background: #ffcb05;
  color: #fff;
}

.timeContainer .wrapper div h2 {
  font-size: 4.4rem;
}

.circleDiv {
  position: absolute;
  z-index: -1;
  top: calc(50% - 237px);
  width: 474px;
  height: 474px;
  border-radius: 100%;
  border: 6px dashed #00a3d0;
  animation: rotatingCircle infinite linear 60s;
}

@keyframes rotatingCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
