* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 223, 1);
}

@font-face {
  font-family: university;
  src: url(fonts/University.otf);
}

#overlay {
  position: absolute;
  top: 10rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 1000;
  transition-duration: 200ms;
}

.content-container {
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(217, 217, 223, 1) 10%,
    rgb(200, 200, 200) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-section {
  position: relative;
  width: 100%;
  height: 18%;
  display: flex;
}

.left-section {
  width: 35%;
  height: 100%;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#block-m {
  position: relative;
  width: 72%;
  -webkit-animation: fadeinM 1500ms;
  -moz-animation: fadeinM 1500ms;
  -ms-animation: fadeinM 1500ms;
  -o-animation: fadeinM 1500ms;
  animation: fadeinM 1500ms;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.65, 1.3);
}

@keyframes fadeinM {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.left-team-name {
  margin-top: 0.8rem;
  -webkit-animation: fadeinDate 1500ms;
  -moz-animation: fadeinDate 1500ms;
  -ms-animation: fadeinDate 1500ms;
  -o-animation: fadeinDate 1500ms;
  animation: fadeinDate 1500ms;
  animation-timing-function: cubic-bezier(1, 0, 1, -0.01);
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  font-weight: 500;
}

.middle-section {
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: university;
}

.vs-text {
  font-family: university;
  -webkit-animation: fadeinVS 1500ms;
  -moz-animation: fadeinVS 1500ms;
  -ms-animation: fadeinVS 1500ms;
  -o-animation: fadeinVS 1500ms;
  animation: fadeinVS 1500ms;
  font-size: 1.6rem;
  opacity: 85%;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.65, 1.3);
}

@keyframes fadeinVS {
  from {
    font-size: 0rem;
  }
  to {
    font-size: 1.6rem;
  }
}

.right-section {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#spartan {
  position: relative;
  width: 50%;
  -webkit-animation: fadeinS 1500ms;
  -moz-animation: fadeinS 1500ms;
  -ms-animation: fadeinS 1500ms;
  -o-animation: fadeinS 1500ms;
  animation: fadeinS 1500ms;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.65, 1.3);
}

@keyframes fadeinS {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

.right-team-name {
  margin-top: 0.4rem;
  -webkit-animation: fadeinDate 1500ms;
  -moz-animation: fadeinDate 1500ms;
  -ms-animation: fadeinDate 1500ms;
  -o-animation: fadeinDate 1500ms;
  animation: fadeinDate 1500ms;
  animation-timing-function: cubic-bezier(1, 0, 1, -0.01);
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  font-weight: 500;
}

.date {
  position: absolute;
  width: 20rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  opacity: 0.8;
  font-family: university;
  -webkit-animation: fadeinDate 1500ms;
  -moz-animation: fadeinDate 1500ms;
  -ms-animation: fadeinDate 1500ms;
  -o-animation: fadeinDate 1500ms;
  animation: fadeinDate 1500ms;
  animation-timing-function: cubic-bezier(1, 0, 1, -0.01);
}

#demo {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  margin-top: 0.4rem;
  font-size: 0.8em;
  -webkit-animation: fadeinDate 1500ms;
  -moz-animation: fadeinDate 1500ms;
  -ms-animation: fadeinDate 1500ms;
  -o-animation: fadeinDate 1500ms;
  animation: fadeinDate 1500ms;
  animation-timing-function: cubic-bezier(1, 0, 1, -0.01);
}

#gameDay {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  opacity: 1;
  letter-spacing: 0.1rem;
  margin-top: 0.2rem;
}

@keyframes fadeinDate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center-section {
  width: 100%;
  height: 72%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-top {
  position: relative;
  width: 100%;
  height: 20%;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  -webkit-animation: fadeinDate 1500ms;
  -moz-animation: fadeinDate 1500ms;
  -ms-animation: fadeinDate 1500ms;
  -o-animation: fadeinDate 1500ms;
  animation: fadeinDate 1500ms;
  animation-timing-function: cubic-bezier(1, 0, 1, -0.01);
}

.tailGatePart-text {
  font-family: university;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.center-middle {
  position: relative;
  width: 90%;
  height: 80%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-animation: fadeinDate 1500ms;
  -moz-animation: fadeinDate 1500ms;
  -ms-animation: fadeinDate 1500ms;
  -o-animation: fadeinDate 1500ms;
  animation: fadeinDate 1500ms;
  animation-timing-function: cubic-bezier(1, 0, 1, -0.01);
}

.schedule-text {
  position: absolute;
  top: -1.2rem;
  width: 100%;
  text-align: center;
}

.event {
  display: flex;
  font-size: 0.8rem;
}

.schedule-ital {
  font-weight: 200;
  font-style: italic;
}

.bottom-section {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#moreInfo-container {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: darkgray;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  transition-duration: 1000ms;
}

#close-icon {
  display: none;
}
