:root {
  --app-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.content-container {
  width: 50vw;
  height: 100vh;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-section {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
}

.left-section {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#block-m {
  position: relative;
  width: 80%;
  -webkit-animation: fadeinM 1500ms;
  -moz-animation: fadeinM 1500ms;
  -ms-animation: fadeinM 1500ms;
  -o-animation: fadeinM 1500ms;
  animation: fadeinM 1500ms;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.65, 1.3);
}

@keyframes fadeinM {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.middle-section {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vs-text {
  font-family: "Lato", sans-serif;
  font-weight: 10;
  -webkit-animation: fadeinVS 1500ms;
  -moz-animation: fadeinVS 1500ms;
  -ms-animation: fadeinVS 1500ms;
  -o-animation: fadeinVS 1500ms;
  animation: fadeinVS 1500ms;
  font-size: 84px;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.65, 1.3);
}

@keyframes fadeinVS {
  from {
    font-size: 0px;
  }
  to {
    font-size: 84px;
  }
}

.right-section {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#spartan {
  position: relative;
  width: 57%;
  margin-top: 1rem;
  -webkit-animation: fadeinS 1500ms;
  -moz-animation: fadeinS 1500ms;
  -ms-animation: fadeinS 1500ms;
  -o-animation: fadeinS 1500ms;
  animation: fadeinS 1500ms;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.65, 1.3);
}

@keyframes fadeinS {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

.date {
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Raleway", sans-serif;
  -webkit-animation: fadeinDate 1500ms;
  -moz-animation: fadeinDate 1500ms;
  -ms-animation: fadeinDate 1500ms;
  -o-animation: fadeinDate 1500ms;
  animation: fadeinDate 1500ms;
  animation-timing-function: cubic-bezier(1, 0, 1, -0.01);
  opacity: 1;
}

@keyframes fadeinDate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center-section {
  width: 100%;
  height: 70%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom-section {
  width: 100%;
  height: 10%;
}

@media screen and (max-width: 400px) {
  .content-container {
    width: 100vw;
  }
  .vs-text {
    font-size: 200%;
  }
  #spartan {
    width: 57%;
    margin-top: 0rem;
  }
}
